
body{
    background-color: #BAD7F2;
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #2F2F2F; 
    width: 100%; 
    padding-top: 1.5vh; 
    padding-bottom: 1.5vh; 
    padding-left: 1.5vw;
    padding-right: 1.5vw; 
    
}
#links{
    float: right; 
    margin-left: 50%; 
}
.links{
    margin: 0.5vw; 
}
#link-list{
    list-style-type:none; 
}
ul li{
    display: inline-block;
    margin: 1vw;  
}
ul li a{
    color: white; 
    text-decoration: underline; 
    font-size: 1.2em; 

}
#logotxt{
    background-color: white; 
    padding-top: 1vh; 
    padding-bottom: 1vh; 
    padding-left: 1vw;
    padding-right: 1vw;
}
#hero-img{
    width: 100vw;
    height: 40vh; 
}
#hero{
    position: relative; 
}
#label_hero{
    margin-top: -12vh; 
    font-size: 2em;
    padding: 0.2%; 

}
#label{
    position: relative;
    margin-top: 50vh; 
    transform: translateX(55%);
    font-size: 2em;
    background-color: #FDF5BF;
    padding-left: 2vw;
    padding-top: 0.0001vh;
    padding-bottom: 0.0001vh;
    width: 14vw;
}
.nav-scroll{
    float: left; 
    font-size: 1.8em; 
    position: relative; 
}
#nav-scroll h2{
   position: relative;
}
#large_pic{ 
  position: relative;
    width: 80vw;
    height:60vh;  
    float: right; 
}

#pic_table #pic_label{
    position: relative;
    margin-top: 38vh; 
    color: black;
    background-color: #FDF5BF; 
    transform: translateX(-400%);
    font-weight: bold;
    padding: 0.1%;
}
#footer{
    margin-top: 200vh; 
}
#footer li{
    text-decoration: underline;
    transform: translateX(25vw); 
    margin: 5%; 
    font-size: 1.5em; 
}
#aboutme p{
    width: 80vw; 
    float: right; 
}
#Sec1{
    border-right: solid black 1px; 
    height: 15vh;
    padding-right: 1%; 
}
#Sec2{
    margin-left: -9vw;  
    border-right: solid black 1px; 
    height: 15vh;
    padding-right: 1%; 
}
#Sec3{
 margin-top: 70vh; 
 border-right: solid black 1px; 
 height: 60vh;
 padding-right: 1%; 
}
#Sec4{
    margin-top: 8vh; 
    border-right: solid black 1px; 
    height: 15vh;
    padding-right: 1%; 
}

/*
W3Schools
Selector (Classname/Id-name form HTML){
All your styles go inside here
PropertyName: Value (#- px, vw,vw,em), color (rgb, rgba, "blue"), dotted, dashed) ; <- Terminate with semicolon
PropertyName: Value (#- px, vw,vw,em), color (rgb, rgba, "blue"), dotted, dashed) ; <- Terminate with semicolon
PropertyName: Value (#- px, vw,vw,em), color (rgb, rgba, "blue"), dotted, dashed) ; <- Terminate with semicolon
PropertyName: Value (#- px, vw,vw,em), color (rgb, rgba, "blue"), dotted, dashed) ; <- Terminate with semicolon
}
*/
@media only screen and (min-width: 481px) and (max-width: 1024px){
  ul li{
    margin: 0.3vw;  
}
ul li a{
    font-size: 1.6em; 
}
#links{
    float: none;
    display: inline-block;
    margin-left: -0.02%;
    transform: translateX(30vw);
}
#picture_big{
    width: 90vw; 
    float: right; 
}
/*just realized what line was making those images not shift and deleted it<-justify-content:center was the issue*/
#pic_table .images{
    margin-top: -60vh;
    width: 90vw;
    justify-content: right; 
    transform: translateX(15%);
    float: right; 
}
#pic_table img{ 
    padding: 0; 
    margin: 0; 
    display: inline-block;
    width: 50vw;
    height: 40vh;  
    margin: 1%;  
    
}
#Sec1, #Sec2, #Sec3, #Sec4{
    font-size: 2.7em; 
}
#footer{
    margin-top: 600vh; 
    font-size: 2.2em; 
    margin-left: -2vw; 
}
#footer li{
    margin: 1%; 
}
#Sec4{
    margin-top: -3vh; 
}
#label{
    font-size: 2.2em;
    padding: 0; 
    width: 30vw;
    height: 10vh;
    display: block;


}
#label h2{
    transform: translateY(-50%);
}
}
@media only screen and  (max-width: 450px){
    header{
        width: 110vw; 
        height: 15vh; 
        padding-top: 0.5vh; 
        padding-bottom:0.5vh; 
        padding-left: 0.5vw;
        padding-right: 0.5vw; 
    }
    #logotxt{
        padding-top: 0.4vh; 
        padding-bottom: -0.2vh !important;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
    }
    #links{
        float: right; 
        margin-left: 0;
    }
    ul li{
        display: block;
        margin: 0.1vw;  
    }
    ul li a{
        font-size: 0.8em; 
    
    }
    #aboutme p{
        width: 60vw; 
    }
    #large_pic{ 
          width: 60vw;
          height:60vh;  
          float: right; 
      }
      #picture_big{
          width: 50vw; 
          float: right; 
      }
      #Sec2{
        margin-left: -90%; 
         
    }
    #label{
        font-size: 1em;
        padding: 0; 
        width: 30vw;
        height: 10vh;
        display: block;


    }
    #label h2{
        transform: translateY(-50%);
    }
    #pic_table img{ 
        margin-top: 0.001vh;
        margin-bottom: 0.001vh;
        margin-left: 0.001vw;
        margin-right: 0.001vw;
        display: block;
        width: 60vw;
        height: 40vh;  
        
    }
    #footer{
        margin-top: 500vh; 
    }
    #footer li{
        text-decoration: underline;
        transform: translateX(25vw); 
        margin: 5%; 
        font-size: 1.5em; 
    }
    #Sec4{
        margin-top: -1vh; 
    }
    #pic_table .images{
        margin-top: -60vh;
        width: 80vw;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
        justify-content: right; 
        transform: none;
        float: right; 
    }
}
