body{
    background-color:#e0e0e0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: gray; 
    width: 100%; 
    padding-top: 1.5vh; 
    padding-bottom: 1.5vh; 
    padding-left: 1.5vw;
    padding-right: 1.5vw; 
}
#links{
    float: right; 
    margin-left: 50%; 
}
.links{
    margin: 0.5vw; 
}
#link-list{
    list-style-type:none; 
}
ul li{
    display: inline-block;
    margin: 1vw;  
}
ul li a{
    color: white; 
    text-decoration: underline; 
    font-size: 1.5em; 

}
#logotxt{
    background-color: white; 
    padding-top: 1vh; 
    padding-bottom: 1vh; 
    padding-left: 1vw;
    padding-right: 1vw;
}
#hero-img{
    width: 100vw;
    height: 40vh; 
}
#hero{
    position: relative; 
}
#label{
    position: relative;
    margin-top: -12vh; 
    font-size: 2em;
    background-color: aqua;
    padding-left: 2vw;
    padding-top: 0.0001vh;
    padding-bottom: 0.0001vh;
    width: 14vw;
}
#nav-scroll{
    float: left; 
}
#large_pic{ 
  position: relative;
    width: 100vw;
    height:60vh;  
}
#pic_table{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    margin-top: 10vh;
    justify-content: center;
    width: 100vw;
}
#pic_table img{ 
    padding: 0; 
    margin: 0; 
    display: inline-block; 
    width: 40vw;
    height: 50vh;  
    margin: 1%; 
    
}
#pic_table #pic_label{
    position: relative;
    margin-top: 48vh; 
    color: black;
    background-color: aqua; 
    transform: translateX(-570%);
    font-weight: bold;
    padding: 0.1%;
}
#footer li{
    text-decoration: underline;
    transform: translateX(25vw); 
    margin: 5%; 
    font-size: 1.5em; 
}